#pft-adblock-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index:10000;
  background: rgba(0,0,0,0.9);
  bottom: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 350px;
}