body {
  width: 350px;
  text-align: center;
}

#pftv-adblock-title {
  font-size:1.4em;
  margin-bottom: 10px;
}

#pftv-adblock-options {
  text-align: left;
  font-size: 1.2em;
}

#pftv-adblock-options-enabled {
  margin-top: 7px;
}

#pftv-adblock-options input[type=checkbox] {
  position: relative;
  top: 2px;
}

#pftv-adblock-footer {
  margin-top: 7px;
  position: relative;
}

#pftv-adblock-copyright {
  color: #888888;
  font-size: 1em;
}

#pftv-adblock-link {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}